application/installer/*
application/instance_uid.json
application/__pycache__/*
application/runner/*
application/database/*
sdk/.setup/*
sdk/.cargo/*
sdk/target
sdk/targets/arm/stm32/src/*
sdk/targets/arm/stm32/Cargo.toml
sdk/Cargo.lock